body{
    text-align: center;
    background-image: url("images/table.png");
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

h1{
    color: goldenrod;
    font-size: 50px;
}

p{
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.start-btn{
   border-radius: 10px;
   font-size: 30px;
   padding: 10px 30px;
   font-weight: bolder;
   color: green;
   border: 0;
   background-color: goldenrod;
}

#message-el{
    font-style: italic;
}


